<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>${SiteName}</title>
    <link href="${Theme}/dist/app.css" rel="stylesheet" type="text/css">
    <link href="${Theme}/dist/base/base.css" rel="stylesheet" type="text/css">
    <title>Lc4e Demo</title>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="http://at.alicdn.com/t/font_1476762785_820331.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="app"></div>
<script type="text/javascript">
    var preLoadData = {
        menus: JSON.parse('${menusString}'),
        isLogin: Boolean('${user()}' == 'true'),
        siteName: String('${SiteName}'),
        version: String('${version}'),
        themePath: String('${Theme}'),
        sort: Number('${topicSort?!2}'),
        page: Number('${page?!1}')
    };
</script>
<script src="${Theme}/dist/app.js"></script>
</body>
</html>